@font-face { 
    font-family: Cursed Font;
    src: url(/fonts/CursedTimerUlil-Aznm.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Basketball;
    src: url(/fonts/BasketballDiary-lgPmy.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Chicago;
    src: url(/fonts/Chicagoshiftdemo-JRM7a.ttf);
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: verdana, sans-serif;
    font-size: 40px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    background: linear-gradient(to right, #0C4A6E, #FCD34D);
    color: #fff;
}

.scoreboard, .counter-control, .timer {
    font-family: Cursed Font;
}

/* color palette
red - #BE123C
lightred - #FB7185
lightyellow - FCD34D
verylightyellow - FDE68A
dark blue - #0C4A6E
blue - #075985
whitegray - #F3F4F6 */

h3, h5 {
    font-family: Chicago;
    letter-spacing: 10px;
}
h3 {
    margin: 0;
    padding: 0;
    font-size: 60px;
    color: #E5E7EB;
    text-shadow: 4px 6px 8px rgba(0,0,0,0.7);
}

h5 {
    margin: 20px 0;
    padding: 0;
    /* padding-bottom: 30px; */
    font-size: 30px;
    color:#BE123C;
    text-shadow: 3px 4px 3px rgba(0,0,0,0.7);
}

/* Timer */
.timer {
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #BE123C;
    text-shadow: 4px 4px 4px rgba(0,0,0,0.5);
 } 

/* Game */
.game-control {
    max-width: 500px;
    width: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    text-align: center;
    }

/* Game buttons */
button {
    font-family: Chicago;
    text-shadow: 4px 4px 8px rgba(0,0,0,0.7);
    border: 3px solid #FEF3C7;
    border-radius: 5px;
    cursor: pointer;
    color: #E5E7EB;
    box-sizing: border-box;
    padding: 7px 15px;
    padding-bottom: 0;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.5);
    outline: none;
    background: transparent;
     outline: 0;
}

.button-control {
    margin-top: 40px;
    display: flex; 
    width: 300px;
    justify-content: center;
    gap: 50px;
}


button:active {
    transform: scale(0.9);
    box-shadow: inset 0px 0px 8px 2px rgba(0,0,0,0.5);
     outline: 0;
}

button:focus {
    outline: 0;
}

/* Wrapper */
.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    width: 100%;
    padding-top: 0;
}

/* Active player */
#active { 
    /* border-color: #FDE68A; */
    box-shadow: 0 0 20px 10px #FDE68A;
}

/* State game display */
.state {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scoreboard {
    background: #080001;
    margin: 25px 0;
    border: 2px solid black;
    border-radius: 5px;
    color: #F94F6D;
    font-size: 90px;
    width: 160px;
    box-sizing: border-box;
    box-shadow: 0 0 8px 4px rgba(0,0,0,0.5);
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.scoreboard > span {
    padding-top: 6px;
}

.counter-control {
    display: flex;
    width: 100%;
    justify-content: space-between;  
}

.counter-control > button {
    font-size: 20px;
    padding: 12px;
    padding-bottom: 6px;
    text-align: center;
    border: 1px solid #FEF3C7;
    border-radius: 5px;
    cursor: pointer;
    color: #E5E7EB;
    box-sizing: border-box;
    background: transparent;
     outline: 0;
}

.counter-control button:hover {
     box-shadow: 0 0 8px 4px rgba(0,0,0,0.3);
      outline: 0;
}

.counter-control button:active {
        transform: scale(0.9);
         outline: 0;
       
}

.counter-control .disabled {
    cursor: no-drop;
    opacity: 0.5;
}

.counter-control .disabled:hover { 
    box-shadow: 0;
}

.counter-control .disabled:active {
    transform: none;
}

#reset-btn {
    display: none;
}

#endgame-btn {
    display: none;
}

/* Winner box */
.winnerbox {
    border: 2px solid #F3F4F6;
    border-radius: 5px;
    width: 350px; 
    padding: 20px; 
    padding-bottom: 50px;
    background: #BE123C;
    position: absolute;
    display: none;
    box-shadow:  inset 0 0 10px 4px rgba(0,0,0,0.5), 0 0 30px 0px rgba(0,0,0,0.75);;
}

.winnerbox h5 {
      color: #F3F4F6;
      margin-top: 50px;
      padding: 30px 0 ; 
      text-align: center;
}

.close-btn {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #F3F4F6;
    float: right;
    position: relative;
    cursor: pointer;
}

.close-btn > .cross {
    width: 2px;
    height: 25px; 
    background: #F3F4F6;
    color: #F3F4F6;
    position: absolute;
}

.close-btn:hover {
    box-shadow:  0px 0px 5px rgba(255,255,255,0.75), inset 4px 4px 4px rgba(255,255,255,0.25);

}

.close-btn:active {
    transform: scale(0.9);
}

.cross-x {
    left: 50%;
    transform: rotate(-45deg) translateX(-50%);
}

.cross-y {
    right: 50%;
    transform: rotate(45deg) translateX(50%);
}

